* {
  margin: 0;
}

.App {
  background-image: url(./img/rain.jpg);
  background-size: 100vw;
  display: flex;
  flex-direction: column;
}

.rain {
  background-image: url(./img/rain.jpg);
  background-size: 100vw;
}

.sun {
  background-image: url(./img/sun.jpg);
  background-size: 100vw;
}

.cloud {
  background-image: url(./img/cloudy.jpg);
  background-size: 100vw;
}

.light {
  background-image: url(./img/thunder.jpg);
  background-size: 100vw;
}

.response {
  text-align: center;
  color: #fff;
  font-size: larger;
}

.top {
  width: 100%;
  height: 30vh;
  color: #fff;
  background: linear-gradient(45deg, rgba(236, 132, 113, 0.5), rgba(149, 19, 81, 0.5));
  flex-wrap: wrap;
}

.importantCities img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  margin-right: 20px;
}

.importantCities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  filter: drop-shadow(0px 30px 10px #000);
  transition: all 0.3s ease-in-out;
}

.importantCities p {
  font-size: 20px;
  margin-top: 5px;
}

.importantCities:hover {
  transform: scale(1.2);
}

.importantCity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 2vh;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.search input {
  padding: 10px 60px 10px 30px;
  outline: none;
  border: none;
  border-radius: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.search button {
  outline: none;
  border: none;
  border-radius: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  margin-left: -50px;
  cursor: pointer;
}.left {
  color: #fff;
  max-width: 422px;
  background: linear-gradient( rgba(104,54,57,0.6),
  rgba(51,24,33,0.6))
}