@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oleo+Script+Swash+Caps:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;

  font-family: 'Courgette', cursive;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.App {
  display: flex;
  flex-direction: column;
}

.rain {
  background-image: url(./img/rain.jpg);
  background-size: 100vw;
}

.sun {
  background-image: url(./img/sun.jpg);
  background-size: 100vw;
}

.cloud {
  background-image: url(./img/cloudy.jpg);
  background-size: 100vw;
}

.light {
  background-image: url(./img/thunder.jpg);
  background-size: 100vw;
}

.snow {
  background-image: url(./img/snow.jpg);
  background-size: 100vw;
}

.response {
  text-align: center;
  color: #fff;
  font-size: larger;
}

.top {
  width: 100%;
  height: 30vh;
  color: #fff;
  background: linear-gradient(45deg, rgba(236, 132, 113, 0.5), rgba(149, 19, 81, 0.5));
  flex-wrap: wrap;
}

.importantCities img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  margin-right: 20px;
}

.importantCities {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  filter: drop-shadow(0px 30px 10px #000);
  transition: all 0.3s ease-in-out;
}

.importantCities p {
  font-size: 20px;
  margin-top: 5px;
}

.importantCities:hover {
  transform: scale(1.2);
}

.importantCity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 31px;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.search input {
  padding: 10px 60px 10px 30px;
  outline: none;
  border: none;
  border-radius: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.search button,
.left button {
  outline: none;
  border: none;
  border-radius: 18px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  margin-left: -50px;
  cursor: pointer;
}

.left {
  color: #fff;
  min-width: 422px;
  height: 70vh;
  background: linear-gradient(rgba(236, 132, 113, 0.5), rgba(104, 54, 57, 0.6),
      rgba(51, 24, 33, 0.6));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left * {
  margin-top: 10px;
}

.left img {
  width: 150px;
  height: 150px;
}

.left h1,
h2,
h3,
h4,
h5,
.left code {
  text-transform: capitalize;
}

.left button {
  padding: 20px;
  background: linear-gradient(45deg, rgba(86, 70, 236, 0.9), rgba(250, 91, 91, 0.9), rgba(86, 70, 236, 0.9));
  background-size: 100%;
  transition: all 1s ease-in-out;
}

.left button:hover {
  background-size: 200%;
}

.startup {
  display: flex;
  flex-direction: column;
}

.right {
  width: 100%;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.bottom {
  display: flex;
  flex-direction: row;
}

.Login {
  height: 100vh;
  width: 100vw;
  background-image: url('https://wallpaperaccess.com/full/1540002.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -200px;
  /* filter: blur(3px); */
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  filter: blur(0px);
  width: 300px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.807);
}

.container img {
  width: 200px;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.left-align {
  align-items: start;
}

.input-grp input {
  height: 40px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0);
  outline-width: 0px;
  border: none;
  border-radius: 15px;
  color: white;
}

.container button {

  outline-width: 0px;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #962d6b;
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
}

.container>h1 {
  margin-bottom: 50px;
}

.link {
  color: rgb(31, 218, 231);
}

.mt10 {
  margin-top: 20px;
}

.favorite {
  margin-left: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  filter: drop-shadow(2px 4px 6px black);
}

.fav-left {
  position: absolute;
  top: 70px;
  color: #fff;
  transform: rotate(270deg);
  filter: drop-shadow(2px 4px 6px black);
  cursor: pointer;
}

.fav-left img {
  width: 30px;
  height: 30px;
}

.fav-list {
  position: absolute;
  height: 50vh;
  width: 50vw;
  top: 20%;
  right: 25%;
}

.fav-list {
  background-color: rgba(2, 2, 2, 0.251);
  filter: blur(0px) !important;
  color: #fff;
  box-shadow: 1px 2px 36px 7px rgba(0,0,0,0.75);
}
.fav-city {
  cursor: pointer;
  text-transform: capitalize;
}
.blur {
  filter: blur(5px);
}