https://code.visualstudio.com/download

https://nodejs.org/en/

https://openweathermap.org/guide

npx create-react-app .

npm start 

npm install --save react-chartjs-2   

npm install --save chart.js

npm install -g firebase-tools

gmail: vamsikrishnabobbala1@gmail.com

password: weatherman